<div class="panel panel-default">
  <%= render :partial => 'shared/panel_heading', :locals => {:title => '明细'} %>
  <div class="panel-body">
    <div class="row">
      <%= form_tag account_records_path, :id => "account_records_date_form", :method => 'get',
                                          :class => "form-horizontal", :role => "form" do %>
        <div class="form-group col-sm-offset-3">
          <label for="account_records_date_start" class="control-label col-sm-2 col-sm-offset-3">开始日期</label>
          <div class="col-sm-2">
            <div class="input-group date" id="datetimepicker-start">
              <%= text_field_tag :account_records_date_start, "#{@time_start.strftime('%Y-%m-%d')}", :class => "form-control span2" %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="account_records_date_end" class="control-label col-sm-2 col-sm-offset-3">结束日期</label>
          <div class="col-sm-2">
            <div class="input-group date" id="datetimepicker-end">
              <%= text_field_tag :account_records_date_end, "#{@time_end.strftime('%Y-%m-%d')}", :class => "form-control" %>
              <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <script type="text/javascript">
          $(function() {
            $('#datetimepicker-start').datetimepicker({
              format: "YYYY-MM-DD",
              locale: 'zh-cn'
            });
            $('#datetimepicker-end').datetimepicker({
              format: "YYYY-MM-DD",
              locale: 'zh-cn'
            });
            $('#datetimepicker-start').on("dp.change", function(e){
              $('#account_records_date_form').submit();
            });
            $('#datetimepicker-end').on("dp.change", function(e){
              $('#account_records_date_form').submit();
            });
          });
        </script>
      <% end %>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <ul id="listTab" class="nav nav-tabs nav-justified">
          <li class="active"><a href="#aggregateTab" data-toggle="tab">全部</a></li>
          <li><a href="#outgoingTab" data-toggle="tab">支出</a></li>
          <li><a href="#incomingTab" data-toggle="tab">收入</a></li>
        </ul>
        <div id="listTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="aggregateTab">
            <%= render :partial => 'detail_list', :locals => {:account_records => @account_records} %>  
          </div>
          <div class="tab-pane fade" id="outgoingTab">
            <%= render :partial => 'detail_list', :locals => {:account_records => @outgoing_records} %>  
          </div>
          <div class="tab-pane fade" id="incomingTab">
            <%= render :partial => 'detail_list', :locals => {:account_records => @incoming_records} %>  
          </div>
        </div>
      </p>
    </div>
  </div>
</div>
