<p>
  <div class="tabbable">
  <div class="tab-content">
    <div class="tabs-pane active" id='account_records'>
      <div class="tab-pane" id="aggregate">
        <%= aggregate(@account_records) %>
        <% if !@account_records.nil? %>
          <table class="list">
            <% @account_records.each do |account_record| -%>
              <%= render :partial => 'entry', :locals => {:entry => account_record} %>  
            <% end %>
          </table>
        <% end %>
      </div>
      <div class="tab-pane" id="outgoing">
        <%= aggregate(@outgoing_records) %>
        <% if !@outgoing_records.nil? %>
          <table class="list">
            <% @outgoing_records.each do |account_record| -%>
              <%= render :partial => 'entry', :locals => {:entry => account_record} %>  
            <% end %>
          </table>
        <% end %>
      </div>
      <div class="tab-pane" id="incoming">
        <%= aggregate(@incoming_records) %>
        <% if !@incoming_records.nil? %>
          <table class="list">
            <% @incoming_records.each do |account_record| -%>
              <%= render :partial => 'entry', :locals => {:entry => account_record} %>  
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
  </div>
</p>
