<p>
  <div id="tabs">
    <ul>
      <li><a href="#aggregate"><%= t(:label_aggregate) %></a></li>
      <li><a href="#outgoing"><%= t(:label_outgoing) %></a></li>
      <li><a href="#incoming"><%= t(:label_incoming) %></a></li>
    </ul>
    <div id="tabs_container">
      <div id="aggregate">
        <%= aggregate(@account_records) %>
        <% if !@account_records.nil? %>
          <table class="list">
            <% @account_records.each do |account_record| -%>
              <%= render :partial => 'entry', :locals => {:entry => account_record} %>  
            <% end %>
          </table>
        <% end %>
      </div>
      <div id="outgoing">
        <%= aggregate(@outgoing_records) %>
        <% if !@outgoing_records.nil? %>
          <table class="list">
            <% @outgoing_records.each do |account_record| -%>
              <%= render :partial => 'entry', :locals => {:entry => account_record} %>  
            <% end %>
          </table>
        <% end %>
      </div>
      <div id="incoming">
        <%= aggregate(@incoming_records) %>
        <% if !@incoming_records.nil? %>
          <table class="list">
            <% @incoming_records.each do |account_record| -%>
              <%= render :partial => 'entry', :locals => {:entry => account_record} %>  
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</p>

<% content_for :header_tags do %>
  <%= javascript_include_tag "tabulous.js/demo/src/tabulous.js" %>
  <%= stylesheet_link_tag "tabulous.js/demo/src/tabulous.css" %>
  <script type='text/javascript'>
    $(function () {
      $('#tabs').tabulous({ effect: 'scale' });
    });
  </script>
<% end %>
