<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @record_type.title %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @record_type.image.url(:thumb) %>
</p>

<%= link_to 'Edit', edit_record_type_path(@record_type) %> |
<%= link_to 'Back', record_types_path %>
